div.note{
    color: rgb(214, 214, 214);
}

#note-title1 {
    text-align: center;
}

#note-author {
    text-align: right;
}

.accordion-1 .accordion-item button {
    font-size: 22px;   
}

.single-portfolio > a .contents h3, .single-portfolio > a .contents .h3 {
    font-size: 40px;
}


.Hover-text {
    font-size: 35px;
}

.img-padding {
    margin: : 10px;
}

.sec-1 .img-r {
    right: 1px;    
}

.blog-bg-img {
    /*background-repeat: no-repeat;*/
    background-size：cover;
    background-position: center center;
}

.blog-bg-img div{
    background-color: rgba(255,255,255,.8);
    -webkit-backdrop-filter: blur(2px);
    box-shadow: 0 0 10px #333;
    border-radius: 12px;
    color: rgb(214, 122, 127);
}